@import 'color/color'

button
  margin-left: auto
  margin-right: auto
  display: block
  height: 50px
  width: 50px
  border-radius: 50px
  border: 1px solid $primary-color
  background: $accent-color
  cursor: pointer
  color: $secondary-color
  background: $button-gradient

  a:link
    color: $secondary-color
  a:visited
    color: $visited-color
