@import '../typography/typography'
@import '../color/color'
@import '../color/mixin'
@import '../color/function'

.albums
  width: 23.75em
  height: 37.5em
  display: inline-block
  background: transparent

  .winner
    width: 18.75em

  figcaption
    @include base-gradient(top right, $text-gradient...)
    padding: .313em
    border: .188em solid $accent-color
    text-align: center
    word-wrap: normal
    // background: $text-gradient
    font-family: $caption-font
    // opacity: .75

